### 리스트, 튜플 만들기

#### 리스트 만들기

In [1]:
# []를 사용하여 빈 리스트 만들기
l1 = []
l1

[]

In [2]:
# list() 함수를 사용하여 빈 리스트 만들기
l2 = list()
l2

[]

In [3]:
# []를 사용하여 초기값이 있는 리스트 만들기
l3 = [1,3,5,7,9]
l3

[1, 3, 5, 7, 9]

In [6]:
# list() 함수를 사용사여 초기값이 있는 리스트 만들기(규칙이 있는 정수 값의 나열)
l4 = list(range(1,100,5))
l4

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

#### 튜플 만들기

In [7]:
# ()를 사용하여 빈 튜플 만들기
t1 = ()
t1

()

In [8]:
# tuple() 함수를 사용하여 빈 튜플 만들기
t2 = tuple()
t2

()

In [9]:
# ()에 초기값 지정하여 튜플 만들기
t3 = (1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [11]:
# tuple()함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)
t4 = tuple(range(1,100,5))
t4

(1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96)

In [12]:
# 튜플을 만들 때 괄호()는 생략 가능하다.
t5 = 1,3,5,7,9
print(type(t5), t5, sep='\n')

<class 'tuple'>
(1, 3, 5, 7, 9)

In [13]:
# 항목이 1개일 때는 ,를 붙인다.
t6 = (1,)
print(type(t6), t6, sep='\n')

<class 'tuple'>
(1,)

In [14]:
t7 = 1,
print(type(t7), t7, sep='\n')

<class 'tuple'>
(1,)

#### 리스트, 튜플의 자료형
- 모든 자료형이 혼합되어 들어갈 수 있다.

In [15]:
myinfo = ['amy', 20, 165.5, ['독서', '코딩']]
myinfo

['amy', 20, 165.5, ['독서', '코딩']]

In [16]:
myinfo = ('amy', 20, 165.5, ['독서', '코딩'])
myinfo

('amy', 20, 165.5, ['독서', '코딩'])

In [17]:
t1 = ('빨','주')
t2 = ('노', '초', '파', '남', '보')
t1 + t2

('빨', '주', '노', '초', '파', '남', '보')

#### 리스트, 튜플 반복하기

In [21]:
l = ['먹고', '자고']
l*3

['먹고', '자고', '먹고', '자고', '먹고', '자고']

In [22]:
t = ('놀고', '먹고', '자고')
t*2

('놀고', '먹고', '자고', '놀고', '먹고', '자고')

#### 리스트, 튜플에 값 존재여부 확인
- 멤버 연산자 : in, not in

In [24]:
l = [1,2,3,4,5]

print(5 in l)
print(10 in l)
print(5 not in l)
print(10 not in l)

True
False
False
True

In [25]:
t = (1,2,3,4,5)

print(5 in l)
print(10 in l)
print(5 not in l)
print(10 not in l)

True
False
False
True

#### 리스트, 튜플 항목의 갯수 구하기
- len(list name)
- len(tuple name)

In [28]:
l = [1,3,2,4,5,6,2,33,3,6,7,0,66,6,4,2,1,'d','e','y',[2,3,4,7,5,4]]
len(l)

21

In [29]:
t = ((1,2),[3,4])
len(t)

2